<% if (doc.events) { %>
<h3>Events</h3>
<ul class="events">
  <% doc.events.forEach((event) => { %>
  <li id="<%- event.name -%>">
    <h3><%- event.name -%></h3>
    <div><%- event.description -%></div>
    <% if (event.eventType === 'listen') { %>
    <div class="inline">
      <h4>Listen on: <%- event.eventTarget -%></h4>
    </div>
    <% } else { %>
    <div class="inline">
      <h4>Type:</h4>
      <div class="type"><%- event.eventType -%></div>
    </div>
    <div class="inline">
      <h4>Target:</h4>
      <div class="target"><%- event.eventTarget -%></div>
    </div>
    <% } %>
    <% if (event.params) { %>
    <section class="<%-styles['api-section']-%>">
      <h3>Parameters</h3>
      * Create param table helper *
    </section>
    <% } %>
  </li>
  <% }); %>
</ul>
<% } %>
