<%- include('../lib/macros.ejs') -%>
<%- include('./api.template.ejs') -%>
<%- doc.overview -%>
<h4 class="<%-styles.h4-%>">Example</h4>

<div class="<%-styles['code-snippet']-%>">
<% if (doc.examples) { %>
<% doc.examples.forEach((example) => { %>
<div class="<%-styles['code-preview']-%>">
<%- example -%>
</div>
<% if (doc.usage) { %>
<h4 class="<%-styles.h4-%>">Code Example</h4>
<div class="<%-styles['window-bar']-%> sd-accordion">
  <div class="<%-styles.circles-%>">
    <span class="<%-styles.circle-%> <%-styles['circle-red']-%>"></span>
    <span class="<%-styles.circle-%> <%-styles['circle-yellow']-%>"></span>
    <span class="<%-styles.circle-%> <%-styles['circle-green']-%>"></span>
  </div>
</div>
<div class="<%- styles['code-wrapper'] -%> sd-panel">
  <pre class="line-numbers"><code class="language-markup"><%- doc.usage -%></code></pre><% } %><% }); %>
</div>
<% } %>
</div>

<% if (doc.animations) { %>
  <h4 class="<%-styles['h4']-%>">Animations</h4>
  <%- doc.animations -%>
<% } %>

<h4 class="<%-styles['h4']-%>">General Info</h4>

<ul class="<%-styles['ul']-%>">
  <% if (doc.scope) { %><li class="<%-styles['li']-%>">This directive creates new scope.</li><% } %>
  <li class="<%-styles['li']-%>">This directive executes at priority level <%- doc.priority -%>.</li>
  <% if (doc.multiElement) { %><li class="<%-styles['li']-%>">This directive can be used as {@link $compile#-multielement-multiElement}</li><% } %>
</ul>

<%- include('../lib/params.template.ejs') -%>
<%- include('../lib/events.template.ejs') -%>
