<%- include('./api/object.template.ejs') -%>

<% if (doc.providerDoc) { %>
<li>
  <a href="<%- doc.providerDoc.path -%>">- <%- doc.providerDoc.name -%></a>
</li>
<% } %>

<% if (doc.providerDoc) { %>
<li>
  <a href="<%- doc.providerDoc.path -%>">- <%- doc.providerDoc.name -%></a>
</li>
<% } %>