<h4 class="<%-styles.h4-%>"><strong>name:</strong> <code class="<%-styles.code-%>"><%- doc.name -%></code></h4>

<p class="<%-styles['p']-%>">
<%- doc.description -%>
</p>

<% if (doc.knownIssues) { %>
<h4 class="<%-styles.h4-%>">Known Issues</h4>
<% doc.knownIssues.forEach((issue) => { %>
<div class="<%-styles['known-issue']-%>">
  <%- issue -%>
</div>
<% }); -%>
<% } %>

<% if (doc.deprecated) { %>
<fieldset class="<%-styles['deprecated']-%> <%-styles['fieldset']-%>">
  <legend class="<%-styles.legend-%>">Deprecated API</legend>
  <%- doc.deprecated -%>
</fieldset>
<% } %>

<div>
  <% if (doc.requires) { %>
  <h4 class="<%-styles.h4-%>">Dependencies</h4>
  <ul class="<%-styles.ul-%>">
    <% doc.requires.forEach((require) => { %>
      <li class="<%-styles.li-%>">Add link here</li>
    <% }); %>
  </ul>
  <% } %>
</div>
